.contact-page-banner-wrap
  font-family: poppins
  background-color: $callToActionColor
  a
    &:hover
      text-decoration-color: $orangeHighlight
    .contact-page-banner
      display: flex
      justify-content: center
      p
        margin-top: 0
        margin-bottom: 0
        font-size: toRem(20)
        color: $headerFooterColor
        line-height: 30px
      .contact-page-arrow-link
        display: flex

        font-size: toRem
        font-weight: 500
        color: $headerFooterColor
        p
          margin-bottom: 0
          margin-right: 0
          line-height: 45px
        svg
          font-weight: 300
          margin-left: 20px

@media screen and ( max-width:  975px)
  .contact-page-banner-wrap
    padding-right: 8%
    padding-left: 8%
    
