.hero
  display: grid;
  grid-template-columns: 5% 95%;
  grid-template-rows: 3fr  1fr;
  height: 750px;
  width: 100%;
  .gray-bar
    grid-column: 1;
    grid-row: 1 / 2;
    background-color: $headerFooterColor;
  .white-bar
    grid-column: 1;
    grid-row: 0 / 1;
    background-color: white;
  .hero-pic
    grid-column: 2;
    grid-row: 1 / 3;
    background-color: $callToActionColor;
@media screen and ( max-width: 765px ) 
  .hero
    grid-template-columns: 100%;
    .gray-bar
      display: none;
    .white-bar
      display: none;
    .hero-pic
      grid-column: 1;