.project-page-project
  display: flex;
  flex-direction: column;
  justify-content: center;
  .project-pic
    height: 500px;
    width: auto;
    background-size: cover;
  h3
    border-bottom: 1px solid black;
    padding-bottom: 30px;
    margin-bottom: 0;
  h5
    
