footer
  padding: 5% 10% 5% 10%
  background-color: $headerFooterColor
  color: white
  .footer-wrap
    display: flex
    justify-content: space-around
    .footer-sub
      display: flex
      flex-direction: column
      font-size: toRem(20)
      h4
        font-size: toRem(32)
        margin-bottom: 30px
        margin-top: 0
        color: $orangeHighlight
      a
        color: white
      ul 
        padding: 0
        margin-top: 0
        list-style: none
      .footer-socialss
        display: flex
        flex-direction: column
        color: white
        a
          color: white
          margin-bottom: 5px
          svg
            margin-right: 10px
@media screen and ( max-width: 775px )
  footer
    padding-left: 5% 
    padding-right: 5%
    padding-top: 80px
    padding-bottom: 80px
    .footer-wrap
      display: flex
      flex-direction: column
      .footer-sub
        margin-right: auto
        align-items: start
        font-size: toRem(16)
        &:nth-child(1)
          margin-bottom: 40px
        h4
          font-size: 25px
          margin-bottom: 15px
        ul
          text-align: left

  

