header 
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 10;
  height: $headerHeight;
  img 
    width: 84px;
    height: 102px;
    margin-left: 5%;
.header-space-bar
  width: 100%;
  height: $headerHeight;
  
.white-header
  background-color: white;
  color: $headerFooterColor;
  .header-space-bar
    background-color: white;
.black-header
  background-color: $headerFooterColor;
  color: white;
  .header-space-bar
    background-color: $headerFooterColor;

.header-scroll-up
  opacity: 100%;
  transition: opacity 1s;
.header-scroll-down
  opacity: 0;
  transition: opacity 1s;

@media screen and ( max-width: 765px ) 
  header
    img
      height: 50px;
      width: auto;
      margin-top: 10px;
      margin-bottom: 10px
      margin-left: 3%;
  .header-scroll-up
    opacity: 100%;
    transition: none;
  .header-scroll-down
    opacity: 100%;
    transition: none;