.nav-web
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  a
    color: white;
    font-size: 20px;
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    .nav-item-hover-wrap
      margin-top: 2px;
      height: 4px;
      width: 30px;
      margin-right: 10px;
      .nav-item-hover
        float: right;
        width: 0%;
        height: 100%;
        background-color: #ff5800;
      .on-enter
        animation: widthGrow .2s forwards;
      .on-exit
        animation: widthShrink .2s;
.nav-mobile
  display: none;
  align-items: center;
  margin-right: 20px;
  margin-left: auto;
  svg
    color: white;
    font-size: 30px;
    font-weight: 200;
@media screen and ( max-width: 1100px  )
  .nav-web
    a
      margin-right: 20px;
  
@media screen and ( max-width: 765px ) 
  .nav-web
    display: none;
  .nav-mobile
    display: flex;

  