@keyframes widthGrow 
  0% 
    width: 0;
  
  100% 
    width: 100%;
@keyframes widthShrink 
  0% 
    width: 100%;
  
  100% 
    width: 0%;
@keyframes opacityToFull
  0% 
    opacity: 0;
  100% 
    opacity: 100%;
@keyframe opacityToZero
  0% 
    opacity: 100%;
  100% 
    opacity: 0;